.home{
    display:flex;
    justify-content: center;
}

.home Button{
    margin-left: 1rem;
}

.userData{
    display: flex;
    justify-content: center;
}

.profile{
    display: flex;
    justify-content: flex-end;
    padding: 3rem 3rem 3rem 3rem;
}

img{
    border-radius: 50%;
}
